@font-face {
	font-family: "libre_baskervilleregular";
	src: url("./assets/fonts/librebaskerville-regular-webfont.woff2") format("woff2"), url("./assets/fonts/librebaskerville-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "libre_baskervillebold";
	src: url("./assets/fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("./assets/fonts/librebaskerville-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "libre_baskervilleitalic";
	src: url("./assets/fonts/librebaskerville-italic-webfont.woff2") format("woff2"), url("./assets/fonts/librebaskerville-italic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--theme_main: #000207;
	--theme_secondary: #ffffff09;
	--theme_outlines: #d748b8;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.content {
	width: 100vw;
	height: 100vh;
}

.logo-strip,
.content {
	display: flex;
}

.bg-container {
	background-image: url(./assets/media/bg2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 40vw;
}

.logo-strip {
	background-color: rgb(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
	height: auto;
	padding: 1.5rem 0;
	gap: 1rem;
}

.logo {
	height: 5rem;
}

.logo-txt {
	color: #fff;
	font-size: 3rem;
}

.container {
	width: 60vw;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	background-color: var(--theme_main);
}

.container * {
	color: #fff;
}

.content-form {
	background-color: var(--theme_secondary);
	padding: 2rem 3rem;
	box-shadow: 0px 15px 20px #ffffff10;
}

.content-form > form > p {
	font-size: 1.5rem;
}

.content-header {
	padding: 2.5rem 3rem;
}

.content-header p {
	font-size: 1.3rem;
}

.content-header > p + p {
	margin-top: 1rem;
}

.input-layout {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem 3rem;
	margin-top: 1.1rem;
}

.input {
	display: flex;
	flex-flow: column;
  gap: .3rem;
}

.input > label {
	text-transform: uppercase;
	font-size: 0.6rem;
}

.submit {
	width: max-content;
	padding: 1rem 3.5rem;
	margin-left: 3rem;
	background-color: var(--theme_main);
	border: 3px solid var(--theme_outlines);
	border-radius: 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: var(--theme_outlines);
}

.submit:hover {
	background-color: var(--theme_outlines);
	color: var(--theme_main);
}

.login-prompt {
	margin-left: 3rem;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

.emphasize {
	color: var(--theme_outlines);
	font-weight: 600;
}

label + input {
	appearance: none;
	background-color: var(--theme_main);
	height: 2rem;
	border: 1px solid var(--theme_outlines);
	border-radius: 0.4rem;
	width: 15rem;
	padding: 5px 10px;
}

input:focus {
	outline: none;
	background-color: #eeeeee10;
	box-shadow: 3px 10px 10px #ffffff15;
}

input::selection {
  background-color: var(--theme_outlines);
  color: var(--theme_main);
}

input::placeholder {
  text-transform: capitalize;
}

